html { 
scroll-snap-type: y mandatory;
scroll-padding-top: 0px;
} 

@media (max-width: 768px) {
  body {
    font-size: 1.5em; 
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .title {
   font-size: 0.5em;
  }

  .title p {
    font-size: 3em; 
  }

  .title a {
    font-size: 1.5em; 
  }

  nav, nav a, nav p{
    font-size: 1.9vw;
    letter-spacing: 0px; 
    padding: 0 3px;
    margin: 0;
  }

  .contact p, .objectives p, .education p, .experience p, .skills p, .additionalinformation p {
    font-size: 2em; 
  }

  .contact a, .objectives a, .education a, .experience a, .skills a, .additionalinformation a {
    font-size: 1em; 
    margin-right: 30px; 
    margin-left: 30px;
    display: block;
  }

  .date {
    margin: 0 5%;
  }

}

body {
  min-height: 100vh; 
  margin: 0; 
  display: flex;  
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden; 
  background: #E5E4E6;
  font-size: 1em;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 10vh;
  background-color: rgba(229, 228, 230, 0.9);
  backdrop-filter: blur(5px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
    font-size: 1.5em; 
    margin: 0;
    color: #000000;
    text-decoration: none;
    /*padding: 0 3px; */
    font-family: 'Inter', sans-serif;
    position: relative;
    letter-spacing: 1px; 

}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.5s ease-in-out; 
}

nav a:hover::after {
  width: 100%; 
}

nav p{
    font-size: 1.5em; 
    margin: 0;
    color: #000000;
    text-decoration: none;
    padding: 0 3px; 
    font-family: 'Inter', sans-serif;

}


.title {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  height: auto; 
  scroll-snap-align: start;
}

.title p {
  font-family: 'Inter', sans-serif;
  font-size: 8em; 
  color: #000000; 
  text-align: center; 
  margin: 0; 
  letter-spacing: 5px;
}

.title a {
  font-family: 'Inter', sans-serif;
  font-size: 4em; 
  color: #000000; 
  text-align: center; 
  margin: 0; 
  letter-spacing: 5px;
}

.contact {
  display: flex; 
  justify-content: center; 
  align-items: left; 
  width: 100%;
  flex-direction: column;
  min-height: 95vh; 
  height: auto;
  scroll-snap-align: start;
  background-color: rgba(200, 213, 187, 0.4);
  backdrop-filter: blur(5px);
  padding-top: 50px; 
}

.contact p {
  font-family: 'Inter', sans-serif;
  font-size: 3em; 
  color: #000000; 
  text-align: justify; 
  margin: 15px; 
  letter-spacing: 5px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.contact a {
  font-family: 'Inter', sans-serif;
  font-size: 2em; 
  color: #000000; 
  text-align: justify;
  text-justify: inter-word; 
  margin: 10px; 
  letter-spacing: 1px;
  margin-left: 30px;
}


.objectives {
  display: flex; 
  justify-content: center;
  align-items: left; 
  width: 100%;
  flex-direction: column;
  min-height: 95vh;
  height: auto;
  scroll-snap-align: start;
  padding-top: 50px;
}

.objectives p {
  font-family: 'Inter', sans-serif;
  font-size: 3em; 
  color: #000000; 
  text-align: justify; 
  margin: 15px;
  letter-spacing: 5px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: underline;

}

.objectives a {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em; 
  color: #000000; 
  text-align: justify;
  text-justify: inter-word; 
  margin: 10px; 
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;

}

.education {
  display: flex; 
  justify-content: center;
  align-items: left; 
  width: 100%;
  flex-direction: column;
  min-height: 95vh;
  height: auto;
  scroll-snap-align: start;
  background-color: rgba(200, 213, 187, 0.4);
  backdrop-filter: blur(5px);
  padding-top: 50px;
}

.education h1 {
  font-family: 'Inter', sans-serif;
  font-size: 3em; 
  color: #000000; 
  margin: 15px; 
  letter-spacing: 5px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.educ  {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em; 
  color: #000000; 
  text-justify: inter-word; 
  margin: 10px; 
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;
}

.educ {
    display: flex;
    margin-bottom: 15px; 
}

.date {
    flex: 0 0 15%;
}

.info {
    flex: 1;
}

.location {
    margin-top: 5px;
}


.education ul {
    list-style: disc;
    padding-left: 60px;
    margin: 0;
}

.education li {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #000000; 
    line-height: 1.4;
}

.experience {
  display: flex; 
  justify-content: center;
  align-items: left; 
  width: 100%;
  flex-direction: column;
  min-height: 95vh;
  height: auto;
  scroll-snap-align: start;
  padding-top: 50px;
}

.experience p {
  font-family: 'Inter', sans-serif;
  font-size: 3em; 
  color: #000000; 
  text-align: justify; 
  margin: 15px; 
  letter-spacing: 5px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.experience a {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em; 
  color: #000000; 
  text-align: justify;
  text-justify: inter-word; 
  margin: 10px; 
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;
}

.skills {
  display: flex; 
  justify-content: center;
  align-items: left; 
  width: 100%;
  flex-direction: column;
  min-height: 95vh;
  height: auto;
  scroll-snap-align: start;
  background-color: rgba(200, 213, 187, 0.4);
  backdrop-filter: blur(5px);
  padding-top: 50px;
}

.skills p {
  font-family: 'Inter', sans-serif;
  font-size: 3em; 
  color: #000000; 
  text-align: justify; 
  margin: 15px; 
  letter-spacing: 5px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.skills a {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em; 
  color: #000000; 
  text-align: justify;
  text-justify: inter-word; 
  margin: 10px; 
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;
}


.additionalinformation {
  display: flex; 
  justify-content: center;
  align-items: left; 
  width: 100%;
  flex-direction: column;
  min-height: 95vh;
  height: auto;
  scroll-snap-align: start;
  padding-top: 50px;
}

.additionalinformation p {
  font-family: 'Inter', sans-serif;
  font-size: 3em; 
  color: #000000; 
  text-align: justify; 
  margin: 15px; 
  letter-spacing: 5px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.additionalinformation a {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em; 
  color: #000000; 
  text-align: justify;
  text-justify: inter-word; 
  margin: 10px; 
  letter-spacing: 0px;
  margin-left: 30px;
  margin-right: 30px;
}  

/*
form {
  position: absolute;
  right: 250px;
  bottom: 30px;
  width: 400px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 3px;
  font-size: 1.5em;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: flex;
  width: 150px;
  text-align: right;
  text-decoration-style: ;
}

input,
textarea {
  font: 1em sans-serif;
  width: 500px;
  box-sizing: border-box;
  border: 3px solid #E5E4E6;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button {
  padding-left: 90px;
    color: #E5E4E6;
}

button {
  margin-top: 20px;
  margin-left: -4.5em;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
  font-size: 0.8em;

}*/
